<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.co_well.quiz">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.learn.flash_card.FlashCardActivity"></activity>
        <activity android:name=".ui.activity.learn.learns.CardLearnActivity" />
        <activity android:name=".ui.activity.learn.LearnActivity" />
        <activity android:name=".ui.activity.ImportTextActivity" />
        <activity android:name=".ui.activity.interf.ImportTextActivity" />
        <activity android:name=".ui.activity.create_set.CreateSetActivity" />
        <activity android:name=".ui.activity.ImportFileActivity" />
        <activity android:name=".ui.activity.ScanActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>